/* custom properties */
:root {
  /* widths */
  --mobile-navigation-width: min(350px, 80%);
  --minimum-outline-gap:40px;

  /* spacings */
  --header-padding-block: 2rem;
  --header-wrapper-inline-spacing: 2rem;
  --navigation-padding: min(10rem, 20vh) 2rem 0;
  --navbar-list-gap: 5rem;
  --nav-link-underline-gap: 1rem;

  /* colors */
  --clr-navigation-bg: hsla(0, 0%, 100%, 0.05);
  --clr-navigation-bg-dark: hsla(230, 35%, 7%, 1);
  --clr-navigation-outline:hsla(0,0%,100%,0.1);

  /* typography */
  --fs-nav-link: 1.5rem;
  --fw-nav-link: 600;
  
  /* stacking contexts */
  --header-z-index: 3;
}

.header {
  padding-block: var(--header-padding-block);
  font-family: var(--ff-fira-sans-condensed);
  color: var(--clr-white);
  z-index: var(--header-z-index);
}

.header > .wrapper {
  padding-inline: var(--header-wrapper-inline-spacing);
}

.navbar {
  --right-multiplier-value: -1;
  --outline-width:0;
  --left-inset:15px;

  background: var(--clr-navigation-bg-dark);
  gap: var(--mobile-navigation-gap);
  position: fixed;
  padding: var(--navigation-padding);
  width: var(--mobile-navigation-width);
  max-width: var(--mobile-navigation-width);
  top: 0;
  bottom: 0;
  right: calc(var(--mobile-navigation-width) * var(--right-multiplier-value));
}

.navbar.active {
  --right-multiplier-value: 0;
}

.nav__list {
  flex-direction: column;
  gap: var(--navbar-list-gap);
}

.nav__link {
  font-size: var(--fs-nav-link);
  font-weight: var(--fw-nav-link);
  letter-spacing: 1.6px;
  max-width: max-content;
}

.nav__link.has-underline::before {
  bottom: calc(var(--nav-link-underline-gap) * -1);
}

.tabs__counter {
  margin-inline-end: 0.5rem;
}

.nav__close-btn {
  --translate-Y: 1rem;
  top: var(--header-padding-block);
  right: var(--header-wrapper-inline-spacing);

  transform: translateY(var(--translate-Y));
}

@supports (backdrop-filter: blur(1rem)) {
  .navbar {
    background-color: var(--clr-navigation-bg);
    backdrop-filter: blur(1rem);
  }
}

/* media queries */

/* resposnive for medium size devices */
@media (width > 575px) {
  :root {
    --header-wrapper-inline-spacing: 2rem 0;
    --navigation-padding:3rem 4rem;
    --navbar-list-gap: 4rem;
    --nav-link-underline-gap: 3rem;
    
    --clr-navigation-bg: hsla(0, 0%, 100%, 0.04);
    
    --fw-nav-link: 400;
  }
  
  .navbar {
    all: unset;
    background-color: var(--clr-navigation-bg);
    padding: var(--navigation-padding);
  }
  
  @supports (backdrop-filter: blur(1.8rem)) {
    .navbar {
      backdrop-filter: blur(1.8rem);
    }
  }

  [data-nav-toggle-btn],
  .tabs__counter {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    align-items:center;
  }
}

/* resposnive for large size devices */
@media (width > 768px) {
  :root {
    --header-padding-block: 3rem;
    --navbar-list-gap: 6rem;
    --navigation-padding:3rem 12rem 3rem 6rem;
    
    --fw-nav-link: 500;
  }
}

@media (width > 992px) {
  :root {
    --navigation-padding:3rem 12rem 3rem 6rem;
    --navbar-list-gap: 6rem;
  }
  
  .tabs__counter {
    display:inline-block;
    font-size:calc(var(--fs-nav-link) + 0.2rem);
    font-weight:800;
  }
  
  
  .navbar::before {
    background-color:var(--clr-navigation-outline);
    width:var(--outline-width);
    height:0.8px;
    left:calc((var(--outline-width) - var(--left-inset)) * -1);
    top:50%;
    transform:translateY(-50%);
  }  
}

@media (width > 992px) {
  :root {
    --navbar-list-gap: 8rem;
    --navigation-padding:3rem 15rem 3rem 8rem;
  }
}
