:root {
  /* spacings */
  --wrapper-padding-inline:0;

  /* colors */
  --clr-white:hsl(0,0%,100%);
  --clr-light:hsl(231,77%,90%);
  --clr-dark:hsl(230,35%,7%);
  --clr-very-dark-grayish-blue:hsl(225, 13%, 25%);
  --clr-dark-silver:hsl(216, 5%, 43%);
  --clr-dark-gray:hsl(214, 8%, 34%);
    
  /* typograpy */
  --ff-fira-sans-condensed:"Fira Sans Condensed", sans-serif;
  --ff-Barlow-condensed:"Barlow Condensed", sans-serif;
  --ff-Bellafair:"Bellefair", serif;
}



