:root {
  /* spacings */
  --wrapper-padding-inline:0;

  /* colors */
  --clr-white:hsl(0,0%,100%);
  --clr-light:hsl(231,77%,90%);
  --clr-dark:hsl(230,35%,7%);
  --clr-dark-75:rgb(71, 67, 67);
    
  /* typograpy */
  --ff-fira-sans-condensed:"Fira Sans Condensed", sans-serif;
  --ff-Barlow-condensed:"Barlow Condensed", sans-serif;
  --ff-Bellafair:"Bellefair", serif;
}



