/* custom properties */
:root {
  /* spacings */
  --content-wrapper-padding-block:12rem;
  --section-text-margin-inline:auto;

  /* typography */
  --fs-secondary-title:2rem;
  --fs-section-text:1.8rem;

  --fw-seconadary-title:500;

  --section-text-max-width:50ch;
}

/* resused styles */
.section__text,
.title__secondary {
  color:var(--clr-light);
}

/* main container */
.main-container {
  min-height: 100vh;
  min-height: 100dvh;

  background-image: url("/assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper:not(.header > .wrapper) { 
  padding-inline:var(--wrapper-padding-inline);
  max-width:var(--wrapper-max-width);
}

.content__wrapper {
  --text-align:center;

  padding-block:var(--content-wrapper-padding-block);
  text-align:var(--text-align);
}

.title__secondary {
  --letter-spacing:2.3px;

  color:var(--clr-light);
  font-size:var(--fs-secondary-title);
  font-weight:var(--fw-secondary-title);  
  letter-spacing:var(--letter-spacing);
}

.title__primary {
  --letter-spacing:6px;

  color:var(--clr-white);
  font-family:var(--ff-Bellafair);
}

.section__text {
  --line-height:1.5;
  --letter-spacing:1.4px;

  max-width:var(--section-text-max-width);
  font-size:var(--fs-section-text);
  line-height:var(--line-height);
  letter-spacing:var(--letter-spacing);
  margin-inline:var(--section-text-margin-inline);
}

/*  media queries */

/* responsive for medium size devices */
@media (width > 575px) {
  :root{
    --wrapper-max-width:500px;
    --content-wrapper-padding-block:18rem;

    --section-text-max-width:60ch;
  }
}

/*  responsive for desktop devices */ 
@media(width > 768px) {
  :root{
    --wrapper-max-width:720px; 
    --content-wrapper-padding-block:22rem;

    --fs-secondary-title:2.2rem;
    --fs-section-text:1.9rem;
  }
}

@media(width > 992px) {
  :root{
    --wrapper-max-width:950px; 
    --content-wrapper-padding-block:32rem;

    --fs-secondary-title:2.2rem;
    --fs-section-text:2rem;
    --section-text-max-width:55ch;
  }

  .content__wrapper {
    --text-align:left;

    grid-template-columns:1fr 1fr;
  }

  .section__text{
    --section-text-margin-inline:0;
  }
}

@media(width > 1200px) {
  :root{
    --wrapper-max-width:1150px; 
  }
}