.grid {
  display: grid;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.place-content-center {
  place-content: center;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.margin-inline-auto {
  margin-inline: auto;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display:inline-block;
}

.text-center {
  text-align: center;
}

.w-100 {
  width:100%;
}

.uppercase {
  text-transform:uppercase;
}

.has-underline {
  position:relative;
}

.has-underline::before {
  content:'';
  position:absolute;
  width:0;
  height:2px;
  background-color:var(--clr-white);
  left:0;

  transition:width 300ms ease;
}

.has-underline:is(:hover,:focus)::before {
  width:100%;
}

.cursor-pointer {
  cursor:pointer;
}
